@media(max-width:870px){

    #small-row{
        display: flex;
    }
    
    #big-row{
        display: none;
    }

    .botonesizquierda{
        display: none;
    }
}

@media (max-width: 992px) {
    .columnas-pesebre {
        grid-template-columns: 1fr;
    }

    .modal-game-contenido {
        max-width: 550px;
    }
}